body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./Image/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  max-width: 35%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #141414;
}

#registration {
  display: grid;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #141414;
}

input,
select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input,
select:hover {
  cursor: pointer;
}

button {
  padding: 10px;
  background-color: #e043e6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #b026b5;
}


@media (min-width:100px) and (max-width: 300px) {
  .container {
    max-width: 70%;
  }
  body{
    height: 850px;
  }

  input, select{
    font-size: 10px;
  }
}

@media (min-width:300px) and (max-width: 600px) {
  .container{
    max-width: 80%;
  }
  body{
    height: 850px;
  }

  input,
  select {
    font-size: 12px;
  }
}

@media (min-width:600px) and (max-width:700px){
  .container{
    max-width: 80%;
  }
  body{
    height: 850px;
  }
}

@media (min-width:700px) and (max-width:800px) {
  .container{
    max-width: 70%;
  }
  body{
    height: 850px;
  }
}

@media (min-width:800px) and (max-width:900px) {
  .container{
    max-width: 65%;
  }
  body{
    height: 900px;
  }
}

@media (min-width:900px) and (max-width:1000px) {
  .container{
    max-width: 60%;
  }
  body{
    height: 870px;
  }
}
@media (min-width:1000px){
 
  body{
    background-size: 100% 1000px;
  }
}

