body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./Image/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  max-width: 35%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #141414;
}

#registration {
  display: grid;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #141414;
}

input,
select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input,
select:hover {
  cursor: pointer;
}

button {
  padding: 10px;
  background-color: #e043e6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #b026b5;
}

@media (min-width:300px) and (max-width: 600px) {
  .container {
    max-width: 80%;
  }

  input,
  select {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 70%;
  }

  #registration {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 50%;
  }
}

@media only screen and (max-width: 3000px) {
  .container {
    max-width: 60%;
  }
}
